{% extends 'Base.html'%}
{% block content%}
{% if messages %}

{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}
{%load static%}
<div style="background-image:  url('/media/bg1.jpg'); background-repeat:no-repeat;background-size:cover;  height:650px; width:100%;">

<style>
    th,td {
        text-align: center;
    }
</style>


<!-- Modal for view button -->
<!-- View Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Farmer Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <div class="container">
        <div class="row" >
           <form action="/Add_Group/" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Group Name</label>
                <input type="text" class="form-control" name="name"  id="name" >
            </div>
            <div class="mb-3">
             <div class="col-md-12" >
            
                
                
                     <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                <p><label class="form-control" style="border:outset;cursor: pointer;" for="file" >Upload Image</label></p>
                <p><img style="background-color: white;" name="image" id="output" height="200" width="200" /></p>
                
               
            </div>
            </div>
             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Description</label>
                <input type="text" class="form-control" name="Description"  id="Description" >
            </div>
             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Status</label>
                <select name="Status" class="form-select">
                    <option value="Private">Private</option>
                    <option value="Public">Public</option>
                </select>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="ADD">
            </div>
           </form>
        </div>
    </div>
      </div>
      
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------- -->

<!-- Modal for view button -->
<!-- View Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Farmer Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
             <div class="container">
        <div class="row" >
           <form action="/Update_Group/" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
                <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Group ID</label>
                <input type="text" class="form-control" name="updateid"  id="updateid" readonly >
            </div>

             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">User ID</label>
                <input type="text" class="form-control" name="updateprice"  id="updateprice" readonly >
            </div>

             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Group Name</label>
                <input type="text" class="form-control" name="updatename"  id="updatename" >
            </div>

                 <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label"> Image</label>
                <!-- <input type="text" class="form-control" name="1updateimage"  id="1updateidimage" readonly> -->
                <img src="" id="updateimage" style="height: 250px;width: 250px;margin-left: 50px">
            </div>

            <div class="mb-3">
             <div class="col-md-12" >
            
                
                
                     <!-- <p><input type="file"  accept="image/*" name="image" id="file"  onchange="image(event)" style="display: none;"></p>
                <p><label class="form-control" style="border:outset;cursor: pointer;" for="file" >Upload Image</label></p>
                <p><img style="background-color: white;" name="image" id="outputimg" height="200" width="200" /></p> -->


                <input type="file" accept="image/*" name="image" id="file" class="form-control">
                
               
            </div>
            </div>
             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Description</label>
                <input type="text" class="form-control" name="updatestate"  id="updatestate" >
            </div>
             <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Status</label>
                <select name="Status" class="form-select">
                    <option id="updatetype"></option>
                    <option   value="Private">Private</option>
                    <option value="Public">Public</option>
                </select>
            </div>

            <div class="mb-3">
                <input type="submit" class="btn btn-success" value="ADD">
            </div>
           </form>
        </div>
    </div>
      </div>
      
    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------------------- -->


    <h1>Manage Groups</h1>


    <div class="container">
        <div style="display: flex;justify-content: right;align-content: right;padding-right: 10px;">
             <input type="button" class="btn btn-success "id=""
                             value="Add Group" onclick="Add(this)" >
                            </td>
        </div>

        <div class="container" style="padding-top: 20px;">
            <table class="table table-warning table-hover table-stripped">
                <thead>
                    <th>ID</th>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th colspan="3">Action</th>
                </thead>

                <tbody>
                    {%for i in details%}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.user_id}}</td>
                        <td>{{i.Name}}</td>
                        <td>
                            <img src="{{i.Image.url}}" width="100px">
                        </td>
                        <td>{{i.Description}}</td>
                        <td>{{i.Status}}</td>
                       <td> 
                            <input type="button" class="btn btn-success "id=" {{i.id}}
                            ${{i.user_id}}
                            ${{i.Name}}
                            ${{i.Image.url}}$
                            {{i.Description}}
                            ${{i.Status}}"
                             value="Update" onclick="Update(this)" style="width: 100%;">
                            </td>
               
                            <td> <a style="width: 100%;" class="btn btn-danger" href="/Delete_Group/{{i.id}}">Delete</a></td>

                            <td><a style="width: 100%;" class="btn btn-warning" href="/View_Request/{{i.id}}">View Request</a></td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>

    </div>

    
</div>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">


        function Add(me){
            $('#myModal3').modal('show');
        }

    function Update(me){
        $('#myModal1').modal('show');
        var id                  = me.id;
        var str                 = id.split("$");
        var ids                 = str[0];
        var user_id             = str[1];
        var Name                = str[2];
        var Image               = str[3];
        var Description         = str[4];
        var Status              = str[5];
        console.log(Image)
      
       

        document.getElementById("updateid").value       = ids;
        document.getElementById("updatename").value     = Name;
        document.getElementById("updateimage").src      = Image;
        document.getElementById("updateprice").value    = user_id;
        document.getElementById("updatestate").value    = Description;
        document.getElementById("updatetype").innerHTML     = Status;
        
        
    }





var loadFile = function(event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
};


var image = function(event) {
    var image = document.getElementById('outputimg');
    image.src = URL.createObjectURL(event.target.files[0]);
};





    </script>
{% endblock %}