{% extends 'Base.html'%}
{% block content%}
{% if messages %}

{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}
{%load static%}
<div style="background-image:  url('/media/bg1.jpg'); background-repeat:no-repeat;background-size:cover;  height:650px; width:100%;">

     <style>
    .error {
      color: red;
    }

        .box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.box > div { /*The > denotes only the first or immediate child will be affected*/
  width: 700px;
  height: auto;
  /*border: dotted;
*/
  background-color: #CFE3E2;
  border-radius: 5px
}
  </style>


    


    <div class="box">
        <div class="shadow-lg p-3 mb-5 ">
             <h1>Registration</h1>
             <hr>
             <form id="registrationForm" method="POST" action="/Registration/" enctype="multipart/form-data">
    {% csrf_token %} 
    <div class="row">
        <div class="mb-3 col-md-6">
      <label class="form-label" for="name">Name:</label>
      <input class="form-control" name="name" type="text" id="name" pattern="[A-Za-z ]+" required>
      <span id="nameError" class="error"></span>
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label" for="age">Age:</label>
      <input class="form-control" name="age" type="number" id="age" min="1" required>
      <span id="ageError" class="error"></span>
    </div>
    </div>


    <div class="mb-3">
      <label class="form-label" for="address">Address:</label>
      <input class="form-control" name="address" type="text" id="address" required>
      <span id="addressError" class="error"></span>
    </div>
    
    <div class="row">
        <div class="mb-3 col-md-6">
      <label class="form-label" for="phone">Phone Number:</label>
      <input class="form-control" name="phone" type="tel" maxlength="10" id="phone" pattern="[0-9]{10}" required title="Phone Number starts With 9 and should be 10 digits">
      <span id="phoneError" class="error"></span>
    </div>
    <div class="mb-3 col-md-6">
      <label class="form-label" for="email">Email Address:</label>
      <input class="form-control" name="email" type="email" id="email" required>
      <span id="emailError" class="error"></span>
    </div>
    </div>


    <div class="row">
              <div class="col-md-12" >
            
                
                
                     <p><input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                <p><label class="form-control" style="border:outset;cursor: pointer;" for="file" >Upload Image</label></p>
                <p><img style="background-color: white;" name="image" id="output" height="200" width="200" /></p>
                
               
            </div>
        </div>

    <div class="row">
        <div class="mb-3 col-md-6">
      <label class="form-label" for="name">UserName:</label>
      <input class="form-control" name="username" type="text" id="name" pattern="[a-z0-9 ]+" required title="Should be lower case can be alpha numeric">
      <span id="nameError" class="error"></span>
    </div>

    <div class="mb-3 col-md-6">
      <label class="form-label" for="password">Password:</label>
      <input class="form-control" name="password" type="password" id="password" pattern="(?=.*\d)(?=.*[A-Z]).{6,}" required title="Should include an Upper case (Alphanumeric)">
      <span id="passwordError" class="error" ></span>
    </div>
    </div>

    <div>
      <center><input class="btn btn-secondary" type="submit" value="Register"></center>
    </div>
  </form>
        </div>
    </div>

  
   
</div>


<script>
var loadFile = function(event) {
    var image = document.getElementById('output');
    image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
{% endblock %}